<html>
    <head></head>
    <body>       
        <h1>template login</h1>
        <fieldset>
            <!-- action='/login' 생략되어 있다면 같은 주소 -->
            <form method="POST">
                <input type='text' name='uid'/>
                <br/>
                <input type='password' name='upw'/>
                <br/>
                <input type='submit' name='login'/>
                <br/>
            </form>
        </fieldset>                                   
    </body>
</html>        